@import url('https://fonts.googleapis.com/css?family=Lato:300|Lora|Amatic+SC');

body {
	font-family: 'Lora', Georgia, serif;
}
    
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.h3-values {	font-family: 'Amatic SC', 'Lato', "Helvetica Neue", Helvetica, cursive; }

nav li {	font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
