@import url('https://fonts.googleapis.com/css?family=Lato:300|Lora|Amatic+SC');

body {
	font-family: 'Lora', Georgia, serif;
}
    
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.h3-values {	font-family: 'Amatic SC', 'Lato', "Helvetica Neue", Helvetica, cursive; }

/* ========== Navigation ========== */

nav li {	font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

/* Removed for now with no Top Bar
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
*/