@import url('https://fonts.googleapis.com/css?family=Lato:300|Lora|Amatic+SC');

body {
	font-family: 'Lora', Georgia, serif;
}
    
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1 { padding-bottom: 2rem; }

@media screen and (max-width: 39.9375em) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1.667rem; }
	h3 { font-size: 1.5rem; }
	h4 { font-size: 1.333rem; }
	h5 { font-size: 1.25rem; }
	h6 { font-size: 1.125rem; }
}

@media screen and (min-width: 40em) {
	h1 { font-size: 3.5rem; }
}

/* ==================== colors ==================== */

/* 
Primary - #358bdb (blue)
Secondary - #2de8e0 (green)
Primary Dark - #244578 (dark blue)
Secondary Dark - #217d85 (dark green)

Alert - e1554d
Success - 2e60f2
Warning - dfa66e
Body Font - 081521
Header Font - 222222
*/

/* ==================== nav ==================== */

nav li { font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

nav a {
	font-size: 1.25rem;
	color: white;
}

nav a:hover {
	background-color: #358bdb;
	color: white;
}

#nav { background-color: #244578; }

@media screen and (max-width: 39.9375em) {
	nav a { font-size: .9rem; }
}

.button {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
}

/* ==================== #hero ===================== */

main {
	background: url("../images/main_street.jpg") no-repeat center scroll;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.hero-background {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: rgba(255, 255, 255, 0.9);
}

#hero p {
	padding-bottom: 2rem;
	font-family: 'Lato', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

@media screen and (min-width: 40em) {
	.hero-background {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	#hero p { font-size: 1.25rem; }
}

@media screen and (min-width: 64em) {
	.hero-background {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

/* ==================== shared styles ===================== */

#steps,
#vision,
#testimony,
#new,
#values,
#calendar,
#form,
#faq,
footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* ==================== #steps ===================== */

#steps {
	text-align: center;
}

/* ===== Foundation Icons ===== */

@font-face {
  font-family: "foundation-icons";
  src: url("foundation-icons.eot");
  src: url("foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("foundation-icons.woff") format("woff"),
       url("foundation-icons.ttf") format("truetype"),
       url("foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.size-icon { font-size: 3.75rem; }

.fi-comments:before,
.fi-lightbulb:before,
.fi-torsos-all-female:before {
	font-family: "foundation-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
}

.fi-comments:before { content: "\f132"; }
.fi-lightbulb:before { content: "\f163"; }
.fi-torsos-all-female:before { content: "\f1ff"; }

/* ==================== #vision ===================== */


/* ==================== #testimony ===================== */


/* ==================== #new ===================== */


/* ==================== #values ===================== */

.h3-values { font-family: 'Amatic SC', 'Lato', "Helvetica Neue", Helvetica, cursive; }


/* ==================== #calendar ===================== */


/* ==================== #form ===================== */


/* ==================== #faq ===================== */


/* ==================== #footer ===================== */







